<!DOCTYPE html>
<html lang="en">
<body>
    {% block navBar %}
    <!-- <header id="header">
        <h1 id="header-text">CacheStash</h1>
        <div class="header-links">
            <a id="header-button" href="/dashboard">Home</a>
            <a id="header-button" href="/logout">Logout</a>
        </div>
    </header> -->
    <header class="row justify-content-around" id="header">
        <div class="col-auto">
            <h1 id="header-text">CacheStash</h1>
        </div>
        <div class="col-auto" id="header-links">
            <a href="/dashboard" id="header-button">Home</a>
            <a href="/logout" id="header-button-logout">Logout</a>
        </div>
    </header>
    {% endblock navBar %}
</body>
</html>