<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <title>CacheStash</title>
</head>
<body>
    {% include 'navBar.html' %}

    <main>
        <!-- The following line of code might be extra so I commented it out -->
        <!-- <div id="location"></div> --> 
        <div class="searchall-container">
            <h2>Search by Area</h2>
            {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
                {%if messages %}
                    {% for m in messages %}
                        <p class="alert">{{m}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- <button onclick="getLocation()">Share Location</button> -->
            <label for="city"><strong>City:</strong>
                <input id="city" type="text" name="city" class="form-control">
            </label>
            <label for="state"><strong>State:</strong>
                <input id="state" type="text" name="state" class="form-control">
            </label>
            <button type="button" onclick="search_caches()" id="searchall-button" class="btn btn-light btn-sm mt-2">Search</button>
        </div>
    </main>
    <div class="d-flex justify-content-center">
        <table class='table' id="viewall-table">
            <thead>
                <tr>
                    <th colspan="2" valign="top" scope="col">Location</th>
                    <th rowspan="2" valign="top" scope="col">Description</th>
                    <th rowspan="2" valign="top" scope="col">Map</th>
                    <th rowspan="2" valign="top" scope="col">Actions</th>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>Longitude</td>
                </tr>
            </thead>
            <tbody id="cache_table_body">
                <!-- Search results will be auto inserted here -->
            </tbody>
        </table>
    </div>
    <div class="button-div">
        <button onclick="get_all_caches()" class="btn btn-light">View All Caches</button>
        <a href="/usercaches"><button class="btn btn-light">View My Caches</button></a>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>