* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

main {
    display: flex;
    justify-content: space-evenly;
}

header {
    margin-left: 15%;
}

.login-container, .registration-container, .addcache-container, .searchall-container{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2em;
}

.mycaches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tbody > tr {
    border-bottom: 2px dashed black;
}

tbody > tr > td {
    padding:5px;
}

#registration-form, #login-form, #addcache-form, #searchall-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#registration-form *, #login-form *, #addcache-form *, #viewcache-table, #viewall-table {
    margin: 5px;
}

#login-button, #register-button {
    width: 100px;
    height: 40px;
    background-color:aqua;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
}

.alert {
    color: red;
}

.button-div {
    text-align: center;
}

#viewall-table {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}