* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

main {
    display: flex;
    justify-content: space-evenly;
}


.login-container, .registration-container, .addcache-container, .searchall-container, .caches_with_comments-container{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 2em;
}

.addcache-container {
    margin-top: 20px;
}

.mycaches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tbody > tr {
    border-bottom: 2px dashed black;
}

tbody > tr > td {
    padding:5px;
}

#registration-form, #login-form, #searchall-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#registration-form *, #login-form *, #addcache-form *, #viewcache-table, #viewall-table, #viewcomments-table {
    margin: 5px;
}

#login-button, #register-button {
    background-color: #255f85;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px #481d24;
    margin-right: 15px;
}

#login-button:hover, #register-button:hover {
    background-color: #3280b3;
    color: white;
    transform: translateY(-3px);
    opacity: 3;
}

.alert {
    color: red;
}

.button-div {
    display: flex;
    justify-content: center;
}

/* Login and Reg */
body {
    background-color: #ffc857;
}

#header {
    background-color: #e9724c;
    padding: 10px;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
}

#header-button {
    background-color: #255f85;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
    border-radius: 5px;
}

#header-button-logout {
    background-color: #c5283d;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
    border-radius: 5px;
}

#header-button:hover {
    background-color: #3280b3;
    color: white;
    transform: translateY(-3px);
    opacity: 1;
}

#header-button-logout:hover {
    background-color: #d84155;
    color: white;
    transform: translateY(-3px);
    opacity: 1;
}

#header-text {
    text-shadow: 3px 3px 3px #c5283d;
    color: #481d24
}

#login-main {
    display: flex;
    margin: 140px 20px;

}

#card {
    background-color: #e9724c;
    box-shadow: 15px 15px 5px #481d24;
    font-weight: bold;
    border: 4px solid black;
    /* width: 300px; */
}


#card label {
    display: inline-block;
    width: 210px;
    text-align: left;
}

#comment_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment_form * {
    margin: 5px;
}

#message_label {
    display: flex;
    align-items: center;
}

#dash-btn {
    background-color: #255f85;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
}

#dash-btn:hover {
    background-color: #3280b3;
    color: white;
    transform: translateY(-3px);
}

#dash-submit-btn {
    background-color: #009933;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
    border-radius: 5px;
}

#dash-submit-btn:hover {
    background-color: #5cd65c;
    color: white;
    transform: translateY(-3px);
}

#addcache-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

#mycache-card {
    border: 4px solid black;
    background-color: #e9724c;
    box-shadow: 15px 15px 5px #481d24;
    font-weight: bold;
    width: 1150px;
    margin: 50px;
    padding: 10px;
}

#searchall-card {
    border: 4px solid black;
    background-color: #e9724c;
    box-shadow: 15px 15px 5px #481d24;
    font-weight: bold;
    width: 300px;
    margin: 50px;
    padding: 30px;
}

#table-card {
    border: 4px solid black;
    background-color: #e9724c;
    box-shadow: 15px 15px 5px#481d24;
    font-weight: bold;
    width: 900px;
    margin: 50px;
    padding: 30px;
}

#dash-btn-delete {
    background-color: #c5283d;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
}

#dash-btn-delete:hover {
    background-color: #d84155;
    color: white;
    transform: translateY(-3px);
}

#cancel-btn {
    background-color: gray;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px #481d24;
    margin-right: 15px;
}

#cancel-btn:hover {
    background-color: lightgray;
    color: white;
    transform: translateY(-3px);
}

#mycache-card-comments {
    border: 4px solid black;
    background-color: #e9724c;
    box-shadow: 15px 15px 5px #481d24;
    font-weight: bold;
    width: 600px;
    margin: 50px;
    padding: 10px;
}

.location-column, .address-column {
    display: flex;
    flex-direction: column;
}

#form-container {
    display: flex;
    justify-content: center;
}

#add-comment-container {
    display: none;
}